ion-col {
    text-align: center;
    align-items: center;
}

.test {
    //display: grid;
    top: 25%;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.camera {
    text-align:center;
    background-color: black;
}