ion-col {
    text-align: center;
    align-items: center;
}

.test {
    position: relative;
    bottom: 40px;
    padding: 10px;
    z-index: 1001;
    font-size: 35px;
    border-radius: 15px;
    background-color: rgb(87, 17, 41);
    color: rgb(255, 255, 255);
    text-align: center;
}

.camera {
    text-align:center;
    background-color: black;
}