<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Información
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">

        <div class="head">
            <h1>Índice de teléfonos</h1>
            <p>Recordá a quién llamar en situaciones de incendio</p>
        </div>

        <div class="container2">
            <div class="card"> 
                <h3>Bomberos: </h3><a href="tel:100">100</a>
            </div>
            <div class="card">
                <h3>Central de Emergencias Nacional: </h3><a href="tel:911">911</a>
            </div>
            <div class="card">
                <h3>Emergencias médicas: </h3><a href="tel:107">107</a>
            </div>
            <div class="card">
                <h3>Defensa civil: </h3><a href="tel:103">103</a>
            </div>
            <div class="card">
                <h3>Policía: </h3><a href="tel:101">101</a>
            </div>
            
        </div>
    </div>
</ion-content>