<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="report" href="/tabs/report">
      <ion-icon src="../../assets/icon/basil--fire-solid1.svg"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon src="../../assets/icon/streamline--home-4-solid1.svg"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="info" href="/tabs/info">
      <ion-icon src="../../assets/icon/pepicons-pop--info1.svg"></ion-icon>
      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
