<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información
    </ion-title>
  </ion-toolbar>
</ion-header>






<ion-content [fullscreen]="true">

  <div class="container">



    <div class="head">
      <h1>Quiénes somos</h1>
    
      <p>Somos un grupo de estudiantes de secundaria (y dos no estudiantes) con tiempo y ganas de hacer cosas etc etc</p>
    
    </div>
    
    
    <div class="container2">

      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Blas Garay</h3>
          <p class="card-text">Continuando con un legado antiquísimo, Blas es también programador y, por si fuera poco, fue parte del diseño visual de la app. <br><br>Dice no saber quién es Massa; declaración cuanto menos cuestionable si se considera que, de ser verdad, no debería ser capaz de referir el nombre del político (Sabemos qué querés decir Blas, pero con ese criterio yo tampoco conozco a Obama).</p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>
      
      <div class="card" >
        <img src="./charly.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Leo Garay</h3>
          <p class="card-text">Leo es tremendo crack, nos tiró toda la data para que la app salga andando y desarrolló todo lo que nosotros no hubieramos podido solos. <br><br>Aunque es hincha de River, Blas no lo es, lo cual no hace más que poner en evidencia la admirable apertura de mente de Leo como padre, y el remarcable compromiso de Blas con la continuación del legado de programador, que no le permite mantenerse al tanto en materia de deportes o de política.</p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>
      

      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Valentín Poggio (usalmente solo Poggio)</h3>
          <p class="card-text">Yo me anoté porque me gustó la idea de los sanguches gratis y hasta terminé ligando una taza con el logo de space apps, stonks :). <br><br>Entre mis logros se cuenta el diseño de estas páginas, el algoritmo del polígono del delta (mérito para nada compartido con chatgpt) y un par de codazos para agarrar la remera que sortearon en el evento (posta estuve cerca).</p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>

      
      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Ian Gottlieb Godoy Garranza (the mothafuckin' GGG for short)</h3>
          <p class="card-text">Él fue el encargado de tenernos al trote para que hagamos el proyecto y no lo dejemos a Leo laburando solo, de recopilar material útil y de redactar. <br><br>Como info adicional, si Ian tuviera un centavo por cada apellido con G inicial en su nombre, tendría tres centavos, lo cual no es mucho pero es curioso que sean tres. También agarró la remera que yo quise disputar, pero se la terminó dando a Leo (estoy casi seguro de que esto último no fue producto de mi imaginación) y todos bancamos esa decisión.</p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>

      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Laureano URSINIO Álvarez</h3>
          <p class="card-text">La contribución de Lau fue esencial para obtener las coordenadas y para redimensionar la (no) importancia de un doctorado en biología; consecuentemente y para decepción de algunos, se anotó en física. <br> <br>Si mal no recuerdo, creo que fue él quien surgió con la idea de cantar "we didn't start the fiiiree, it was aalways buurning since the world's been tuurning" y me parece que, sin eso, el proyecto no tendría alma. </p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>

      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Pablo Cabanillas</h3>
          <p class="card-text">Pablo es solamente doctor en biología, y gracias a las habilidades que dicho doctorado le confiere, nos ayudó con todo el temita de entender qué es un incendio. <br><br>Se cuenta por estos lares que encontrar un docente tan bueno como él sería, dicho en términos cabanillísticos, tarea tan difícil como hallar un físico de la UNLP con valores normales en un test de narcisismo. Aprovecho este espacio para pedir disculpas por adelantado a Pablo; yo también me voy a anotar en física en la UNLP :/ </p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>


      <div class="card" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Larisa Maldonado Clar</h3>
          <p class="card-text">Se cargó el diseño al hombro junto con Blas y estuvo muy involucrada también en la redacción de los documentos. <br><br>Tomo el espacio de párrafo que queda para pedir: Lari traeme un souvenir de la NASA ahora que vas para allá y disculpame si la idea de la canción había sido tuya y no de Lau.</p>
          <a href="#" class="btn btn-primary">Contacto</a>
        </div>
      </div>


      </div>
      
      
    
    </div>
    
</ion-content>
