ion-col {
    text-align: center;
    align-items: center;
}

.test {
    //display: grid;
    top: 25%;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.map-frame {
    border: 2px solid rgb(87, 17, 41);
    height: 100%;
}
  
#map-reportfire {
    height: 100%;
}

#refreshButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 1001;
    font-size: 45px;
    border-radius: 15px;
    background-color: rgb(87, 17, 41);
    color: rgb(255, 255, 255);
    text-align: center;
  }